@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

.app {
  background-image:
    url('/images/backgroundImage.svg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  margin: 0;
  color: #FFFFFF;
  text-align: center;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-page {
  clear: both;
  position: relative;
  margin-top: 50px;
  margin-left: 25vw;
  margin-right: 25vw;
  min-height: 8em;
}

@media (max-width: 700px) {
  .footer-page {
    clear: both;
    position: relative;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 8em;
  }
}
