/* carousel styles */
.carousel {
  --carousel-height: 25em;
  --carousel-width: 40em;
  --carousel-item-width: 43.75em;
  --carousel-item-height: 25em;
  --carousel-item-main-width: 43.75em;
  --carousel-item-main-height: 47rem;

  align-items: center;
  display: flex;
  min-height: var(--carousel-height);
  margin: 0 auto;
  max-width: var(--carousel-width);
  position: relative;
  top: 300px;
}

.carousel-item {
  height: var(--carousel-item-height);
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  width: var(--carousel-item-width);
  z-index: 0;
}

.carousel-item-5 {
  left: 2%;
  opacity: 0;
}

.carousel-item-1,
.carousel-item-3 {
  height: var(--carousel-item-height);
  opacity: 1;
  width: var(--carousel-item-width);
  z-index: 1;
}

.carousel-item-1 {
  left: 10%;
}

.carousel-item-2 {
  height: var(--carousel-item-main-height);
  opacity: 1;
  left: 50%;
  width: var(--carousel-item-main-width);
  z-index: 2;
}

.carousel-item-3 {
  left: 90%;
}

.carousel-item-4 {
  left: 98%;
  opacity: 0;
}

/* carousel button styles */
.carousel-controls {
  position: absolute;
  width: 100%;
  top: 50%;
}

.carousel-control {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  height: 100px;
  position: relative;
  transform: scale(1.5);
  transition: transform 0.5s ease-out;
}

.carousel-control:hover {
  transform: scale(1.3);
}

.carousel-control-previous {
  left: -59%;
}

.carousel-control-next {
  left: 152%;
}

/* Error message styles */
.not-found-message {
  background-color: #1D1429;
  margin: 0 auto;
  text-align: center;
  width: 30em;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}
